parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - vendor
        - tests
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            identifier: class.notFound
            path: src/LastfmPlugin.php
